<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부 저장소 권한 허가 -->
    <!-- android version 13 이상일때 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- android version 13 이하일때 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_fridge_app"
        android:label="얼마나남았니?"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_fridge_app_round"
        android:supportsRtl="true"
        android:theme="@style/myTheme">
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyActivity" />
        <activity android:name=".Inquire" />
        <activity
            android:name=".ViewDatabaseActivity"
            android:exported="false" />
        <activity android:name=".RegisterChoiceActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>